@value variables: "../layouts/variables.css";
@value gradientGrey, padding, breakTablet from variables;


.footer {
  width: 100%;
}


.footer > a {
  display: block;
  width: 100%;
  margin: 0;
  background-position: center;
  background-size: cover;
  height: 600px;
}

.footer p {
  color: white;
}

.footer div {
  background: gradientGrey;
  padding: padding;
  text-align: center;
}
@media (max-width: breakTablet) {
  .footer div {
    padding-bottom: 120px;
    font-size: 11px;
  }
}
